.nav-seven .nav-menu a:hover {
	color: blue;
}
.nav-seven .nav-top,
.nav-seven .nav-menu {
	background-color: #333;
	padding: 1rem 0; 
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	color: #f9f9f9;
}
.nav-seven .nav-menu a {
	display: block;
	padding: .5rem;
}
.nav-seven .nav-menu {
	background-color: #bbb;
	padding: 0 1rem;
}
.nav-seven .top-left,
.nav-seven .top-right {
	padding: .2rem;
}
@media (min-width: 768px) {
	.nav-seven .nav-top {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.nav-seven .top-left {
		text-align: left;
		padding-left: 1rem;
		flex: 1 1 33.333%;
		order: 1;
	}
	.nav-seven .top-right {
		flex: 1 1 33.333%;
		padding-right: 1rem;
		text-align: right;
		order: 3;
	}
	.nav-seven .nav-logo {
		flex: 1 1 33.333%;
		order: 2;
	}
	.nav-seven .nav-menu a {
		padding: 1.5rem;
	}
	.nav-seven .nav-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		justify-content: center;
	}
	.nav-seven .nav-menu a {
		padding: 1.5rem;
	}
}